<mat-card>
  <ng-container *ngIf="gameStateStore.state$ | async as state">
    <mat-progress-bar
      [value]="
        calculatePercentage(
          state.foundStations.length,
          state.trainStations.length
        )
      "
    ></mat-progress-bar>
    <div class="top">
      <p class="explanation">
        Enter a Belgian station name in the input field. The goal of this game
        is to find all the train stations in Belgium. Names are not case
        sensitive, but should contain hyphens (-), quotes (') or alike.
        Currently only supports dutch names (so, Liège is Luik).
      </p>
      <mat-form-field class="example-full-width">
        <mat-label>Station</mat-label>
        <input
          type="text"
          placeholder="Station"
          aria-label="Station"
          matInput
          [formControl]="stationControl"
        />
      </mat-form-field>
      <p class="score">
        {{ state.foundStations.length }} / {{ state.trainStations.length }}
      </p>
    </div></ng-container
  >
</mat-card>
<div
  id="map"
  leaflet
  [leafletOptions]="options"
  [leafletLayers]="markers"
  [(leafletCenter)]="center"
  [(leafletZoom)]="zoom"
></div>
